@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.content2{
    margin-left: 4rem;
    margin-right: 4rem;
}
.genre-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px,250px));
    grid-auto-rows: 150px;
    padding-top: 30px;
    justify-content: center;
}
.genre-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition : all 200ms;
    overflow: hidden;
    text-align: center; 
      
}
.genre-card > a{
    color:blueviolet;
}
.genre-card img{
    filter:grayscale(100%)
}

.genre-card:hover{
    box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    filter: grayscale(0%);
    
}
.genre-card:hover > a{
    color: whitesmoke;
    transition : all 200ms;
}


a{
    color: whitesmoke;
    text-decoration: none;    
}
