.playlist{
    width: 800px;
    margin: 50px;
    display: flex;
    background-color: var(--darker-gray);
}
.song-row{
    display: flex;
    flex-direction: row;
}
.play{
    display:none;
}
.play:hover{
    display:block;
}